
body{
    font-family: verdana, sans-serif;
    padding-left:3em;
    padding-right:3em;
    padding-bottom: 2em;
}

div#drops {
    background-color: #4CAF50;
    display: inline-block;
}



 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    padding: 16px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.homeicon {
    background-color: #4CAF50;
    color: white;
    padding-top: 10px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

/*content of our dropdown, hidden by default*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;/*background color of our dropdowns*/
    min-width: 160px;
}

/*links inside the dropdown*/
.dropdown-content a{
    color:black;
    padding: 12px 16px;/*padding so that our stuff appears correctly*/
    text-decoration: none;
    display: block;/*aligned*/
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.homeicon:hover{
    background-color: #3e8e41;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #e5acac;
}


.icon{
    display: none;
}
div#profpic{
    border-radius:50px;
}
@media screen and (max-width: 600px){
    .bigpic img{
        width:300px;
    }
}

 