body{
   
    font-family: verdana, sans-serif;
    padding-left:0em;
    padding-right:3em;
    padding-bottom: 2em;
}

background-image{
    opacity:0.1;
}

.sidebar{
    background-color: aqua;
    text-align: left;
    vertical-align: top;
}

.solution{
    border: 1px solid black;
    display: none;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #0066CC;
}